<div class="container m-t-2">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Sign up</h3>
          <form [formGroup]="form">
            <fieldset class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" [(ngModel)]="user.name" name="name" placeholder="Name" formControlName="name">
            </fieldset>
            <div [hidden]="form.controls['name'].valid || form.controls['name'].pristine" class="alert alert-warning">
              {{ 'STATUS_CODE_400.3' | translate}}
            </div>
            <fieldset class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" formControlName="email">
            </fieldset>
            <div [hidden]="form.controls['email'].valid || form.controls['email'].pristine" class="alert alert-warning">
              {{ 'STATUS_CODE_400.7' | translate}}
            </div>
            <fieldset class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" formControlName="password">
            </fieldset>
            <div [hidden]="form.controls['password'].valid || form.controls['password'].pristine" class="alert alert-warning">
              {{ 'STATUS_CODE_400.5' | translate}}
            </div>
            <fieldset class="form-group">
              <label>CAPTCHA</label>
              <input type="text" class="form-control" placeholder="Please enter the verification code">
            </fieldset>
            <fieldset class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign up</button>
            </fieldset>
            <small class="text-muted">By clicking sign up, you accept terms of use and privacy policy.</small>
          </form>
        </div>
      </div>
      <p>Already have an account? <a class="btn btn-sm btn-secondary" [routerLink]="['/user/login']">Login <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
      <p>Forget password? <a href="#" class="btn btn-sm btn-secondary">Reset password <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
      <ul class="list-inline">
          <li class="list-inline-item">Login with</li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
